.div-outer {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    overflow: hidden;
}

.div-inner {
    width: 100px;
    height: 100px;
    background-color: darkred;
    margin: 20px auto;
}