div {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-bottom: 10px;
}

p {
    width: 50px;
    height: 70px;
    background-color: chocolate;
}

a:link {
    color: rebeccapurple;
}

a:visited {
    color: olive;
}

a:hover {
    color: green;
}

a:active() {
    color: cadetblue;
}