h4 {
    text-align: center;
}

.mydiv {
    width: 200px;
    height: 200px;
    background-image: url('/static/images/mountain.jpg');
    background-color: lightblue;
    background-size: 100px;
    background-repeat: no-repeat;
}